<!--                TODO - Vyplniť footer-->

<div class="footer">
    <div class="center">
        <img src="/img/logotext.webp" alt="Logo Divadlo Paradox" class="logofooter">
        <div class="link-box group">
            <ul>
                <li><h4>© {{ 'now' | date: "%Y" }} Divadlo Paradox o.z.</h4></li>
                <li><a href="/gdpr.html" class="footerlink">Ochrana osobných údajov</a></li>
                <li><a href="#" class="footerlink">Stanovy Divadlo Paradox o.z.</a></li>
<!--                <li><a href="https://ives.minv.sk/rmno/detail?id=3m1QN36Uhejyd5T7VBEuFz%2bXMCcb1yxjEykGS6HZyzmzAzYC%2byakYfSfR%2fEPy7AB" class="footerlink">Aktuálny výpis z RMNO</a></li>-->
            </ul>
        </div>
        <div class="link-box">
            <ul>
                <li><h4>Sociálne siete</h4></li>
                <li><a href="#" class="footerlink"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                <li><a href="#" class="footerlink"><i class="fab fa-instagram-square"></i> Instagram</a></li>
                <!--                    <li><a href="#" class="footerlink"><i class="fab fa-linkedin"></i> LinkedIn</a></li>-->
            </ul>
        </div>
        <div class="link-box">
            <ul>
                <li><h4>Kontakt</h4></li>
                <li><a href="#tel:" class="footerlink">+421 123 456 789</a></li>
                <li><a href="mailto:" class="footerlink">info@divadloparadox.sk</a></li>
                <li>Nábrežná 24, Nové Zámky</li>
            </ul>
        </div>
    </div>
</div>